.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    font-family: "Rheiborn Sans Clean";
    gap: 20px;
  }
  
  .about-us-text {
    flex: 1;
    text-align: justify;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .about-us-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .about-us-text p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
    font-family: "Futura Medium";
  }
  
  .about-us-image {
    display: flex;
    flex: 1.5; /* Expands this section */
    text-align: left;
    background-color: black;
    margin-top: 100px;
    height: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
  }
  
  .about-us-image img {
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    height: 100%;
  
  }
  .about-us-text1 {
    font-family: "Rheiborn Sans Clean";
    color: white;
    text-align: justify;
    margin-right: 20px;
  }
  .about-us-text1 {
    font-family: "Futura Medium";
  }
  
  