/* Global styles for the Admin Panel */
.body {
    background-color: white;
    color: black;
    font-family: "Futura Medium";
    padding: 20px;
  }
  
  h1, h2 {
    color: black;
  }
  
  table {
    width: 97%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-self: center;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  input[type="number"] {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px;
    width: 60px;
  }
  
  .button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  
  .button:hover {
    background-color: #444;
  }
  .notification {
    color: #ffffff; /* White text */
    padding: 10px 20px;
    background-color: gray; /* Dark gray background */
    border-radius: 8px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    animation: fadeInOut 3s forwards;
  }
  .admin-container{
    width: 99%;
    justify-content: center;
    border: 1px solid black;
    margin-left: 3px
  }
  .admin-nav{
    padding: 1px;
    background-color: black;
    margin-top: 0;
  }
  .label-select
{
  padding: 0;
  font: 10px;
  width: auto;
}
  
.size-stock-container {
  display: flex;
  gap: 10px; /* Add some space between size and stock */
  align-items: center;
}
.product-data-container
{
    height: 95%;
}
.product-data-table-container
{

    overflow-y: scroll;
    height: 82%;
}

  /* Fade-in and fade-out animation */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.7;
    }
    90% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }