.UpdateButton
{
    margin-top: 50px;
    background-color: rgb(255, 255, 254); /* Black button background */
    color: rgb(0, 0, 0); /* White text */
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: medium;
    font-family: "Futura Medium";
    text-transform: uppercase;
    border-radius: 8px;
}
.select
{
    width: 25%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 10px;
}
.adsCard
{
    background-color: #ffffff; /* Darker background for the card */
    color: white; /* White text */
    padding: 20px;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Shadow for depth */
    width: 60%; /* Fixed width for the card */
    height: 70%;
    text-align: center; /* Center content within the card */
    border: 1px solid black;
}
.adsContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f5f5f5; /* Dark background */
    color: white; /* White text */
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
