
  .banner-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 25px;
    color: white;
  
  }
  
  .countdown-timer1 {
    display: flex;
    gap: 30px; /* Adjust spacing between blocks */
    margin-bottom: 1rem; /* Space below the timer */
 
  }
  
  .time-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .time-value1 {
    font-size: 4.1rem;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Rheiborn Sans Clean1";
    
  }
  
  .time-label1 {
    font-size: 1rem;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: red;
    font: bold;
  }
  
  .banner-title1 {
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
    font-family: "Rheiborn Sans Clean1";
    font:smaller;
   
  }
  
  .banner-subtitle1 {
    margin-top: -1.3rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: underline red 2px;
    font-family: 'Futura Heavy';
  }
  
  .Banner1 {
    position: relative;
    width: 100%;
    height: 70vh; /* Initial height of the banner */
    overflow: hidden;
    transition: height 0.5s ease-out;
    
  }
  
  .banner-image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }
  
  .banner-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
@media (max-width: 600px) {
    .countdown-timer1 {
      gap: 15px; 
    }
  
    .time-block1 {
      margin: 5px 0;
    }
  
    .time-value1 {
      font-size: 2.5rem; 
    }
  
    .time-label1 {
      font-size: 0.8rem;
      margin-top: 2px;
    }
  
    .banner-title1 {
      font-size: 1.5rem; 
      margin-top: -0.5rem;
      color: #ffffff;
    }
  
    .banner-subtitle1 {
      font-size: 0.9rem; 
    }
    .banner-content1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: rgb(255, 255, 255);
      margin-top: -5px;
    }
  } 