.cart-container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header h1 {
  color: #333;
  font-size: 24px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.cart-item-image {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h2 {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.cart-item-details p {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.quantity-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.quantity-controls button {
  background-color: #000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-controls button:hover {
  background-color: #333;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cart-total {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.checkout-button {
  display: none;
  position: fixed;
  width: 100%;
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #333;
}
.remove-all-button {
  font-family: 'Futura Heavy';
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.remove-all-button:hover {
  background-color: #c0392b;
}

@media (max-width: 599px) {
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
}