.faqcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    white-space: pre-line;
    margin-top: 50px;
  }
  
  .faqcontainer h3 {
    font-family: 'Futura Heavy';
    margin-bottom: 20px;
  }
  
  .faq-category {
    border-top: 1px solid #949494;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .faq-category h2 {
    text-align: left;
    font-family: 'Futura Heavy';
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .faq-item h3 {
    font-family: 'Futura Medium';
    font-size: 18px;
    font-weight: 500;
  }
  
  .faq-item p,
  .faq-item ul {
    font-family: 'Futura Medium';
    font-size: 16px;
    margin-top: 5px;
  }
  
  .faq-item ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .faq-item ul li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 899px) {
    .faqcontainer {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 50px;
      }
    h1 {
      font-size: 22px;
    }
  
    .faq-category h2 {
      font-size: 18px;
    }
  
    .faq-item h3 {
      font-size: 16px;
    }
  
    .faq-item p,
    .faq-item ul {
      font-size: 14px;
    }
  }
  