.filter-sidebar {
    width: 250px;
    padding: 20px;
    border: 1px none #ddd;
    border-radius: 5px;
  display: block;
  }
  .filter-sidebar1 {
    width: 250px;
    padding: 20px;
    border: 1px none #ddd;
    border-radius: 5px;
  display: none;
  }
.filter-group h4 {
  font-family: "Rheiborn Sans Clean1";
  font-weight: lighter;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3f3f3f;
}

.filter-group h4 .toggle-icon {
  margin-left: auto; /* Move the icon to the right */
  transition: transform 0.3s;
}

.filter-group h4.active .toggle-icon {
  transform: rotate(180deg); /* Rotate icon when active */
}

.filter-options {
  display: flex;
  flex-direction: column;
}
  
  .filter-button {
    color: #3f3f3f;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: transparent; 
    text-align: left;
    justify-items: left;
    justify-content: left;
    border-bottom: 1px solid transparent;
    padding-left: 0;
    font-size: 10px;
    font-family: "Futura Medium";
    text-transform: uppercase;
    white-space: nowrap;

  }
  .filter-button2 {
    color: #3f3f3f;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: transparent; 
    text-align: left;
    justify-items: left;
    justify-content: left;
    border-bottom: 1px solid transparent;
    padding-left: 0;
    font-size: 10px;
    font-family: "Futura Medium";
    text-transform: uppercase;
    white-space: nowrap;

  }
  @keyframes filter-buttonhover {
    from {width: 0%}
    to {width:25%}
}
@keyframes filter-buttonhover2 {
  from {width: 0%}
  to {width:4%}
}
  .filter-button:hover {
  border-bottom: 1px solid black;
  width: 25%;
  animation: filter-buttonhover 0.3s ; 
  }
  
  .filter-button.active {
    border-bottom: 1px solid black;
    width: 0%;
  }
  .filter-button2:hover {
    border-bottom: 1px solid black;
    width: 4%;
    animation: filter-buttonhover2 0.3s ; 
    }
    
    .filter-button2.active {
      border-bottom: 1px solid black;
      width: 0%;
    }
  .filter-button1
  {
    border: 2px solid #e6e6e6;
    cursor: pointer;
  }
  .filter-button1.active {
    border: 1px solid black;
  }
  .filter-button1:hover {
    border: 1px solid rgb(165, 165, 165);
  }

  
  .product-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 100%;
  }
  .product-page1 {
    display: flex;
    padding: 20px;
    gap: 20px;
    
  }
  .no-products-message {
    position: absolute;
    margin-left: 12%;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
  }
  .toggle-icon {
    width: 40px;  /* Set width to make it square */
    height: 40px; /* Set height to make it square */
    padding: 0;   /* Remove padding to maintain square shape */
    font-size: 1.5rem;
    border: none;
    border-radius: 50%; /* Make the button circular */
    color: gray;
    background: transparent; /* Remove the background */
    cursor: pointer;
}

.colorbox
{
  object-fit: cover; /* Ensures the image covers the button area without distortion */
  height: auto;       /* Image takes the full height of the button */
  width: 180%;        /* Image takes the full width of the button */
  top: 0;
  margin-left: -6px;
  margin-top: -1px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@keyframes toggleAnimation {
    from { transform: translate(-50%, -50%) rotate(-90deg)}
    to { transform: translate(-50%, -50%) rotate(180deg)}
 
}
@keyframes toggleAnimation1 {
    from {transform: translate(-50%, -50%)}
    to { transform: translate(-50%, -50%) rotate(180deg)}
 
  }
@keyframes toggleAnimationundo {
    from { transform: translate(-50%, -50%) rotate(180deg)}
    to { transform: translate(-50%, -50%) rotate(-90deg)}
}
@keyframes toggleAnimation1undo {
    from { transform: translate(-50%, -50%) rotate(180deg)}
    to {transform: translate(-50%, -50%)}   
  }
  

  /* Cross lines */
  .toggle-icon.active::before {
    animation: toggleAnimation1 0.8s ease forwards; 
  }
  
  .toggle-icon.active::after {
     animation: toggleAnimation 0.8s ease forwards; 
  }
  /* Close Button *
  
  /* Cross lines */
  .toggle-icon::before,
  .toggle-icon::after {
    content: '';
    position: absolute;
    width: 15px; /* Set the length of the lines */
    height: 2px; /* Set the thickness of the lines */
    background-color: gray; /* Color of the cross lines */
    transform-origin: center;
    margin-top: 20px;
    margin-left: 20px;
    
  }
  .toggle-icon::before {
    transform: translate(-50%, -50%)  ; /* Rotate to form one diagonal */ 
  }
  
  .toggle-icon::after {
    transform: translate(-50%, -50%) rotate(-90deg); /* Rotate to form the other diagonal */
  }
  .toggle-icon:not(.active)::before {
    animation: toggleAnimation1undo 0.8s ease forwards;
}

.toggle-icon:not(.active)::after {
    animation: toggleAnimationundo 0.8s ease forwards;
}
  .color-box {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #ffffff; /* Default border */
    transition: transform 0.2s;
  }
  
  .color-box.active {
    box-shadow: 0 0 0 1px rgb(0, 0, 0) ; /* White border */
  }
  
  .color-box:hover {
    box-shadow: 0 0 0 1px #ccc ; /* White border */
  }
  .color-tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    color: #000;
    white-space: nowrap;
    z-index: 10; /* Ensures it displays above the color box */
    text-transform: uppercase;
  }
  .titleh2
  {
    margin-left: 70px;
    font-weight: normal;
  }
  .titlehr
  {
    width: 90%;
  }
  /*for non display*/
  .sidebarnav
  {
    display: none;
  }
  .titlenav
  {
    display: none;
  }

  body.no-scroll1 {
    overflow: auto;
  }
  
  @media (max-width: 1000px) {
    .product-grid {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      height: 100%;
      width: 100%;
      margin-left: -30px;
    }
    .product-page1 {
      display: flex;
      padding: 20px;
      gap: 20px;
  
    }
    @keyframes togglesidebaranimation {
      from { width: 0}
      to {  width: 80%}
   
  }
  @keyframes togglesidebaranimationclose {
    from { width: 80%}
    to {  width: 0}
 
}
    .filter-sidebar {
      position: fixed;
      top: 0;
      right: 0;
      background-color: white;
      width: 0%;
      padding: 0px;
      border: 1px none #ddd;
      border-radius: 0px;
      height: 100%;
      z-index: 101;
      overflow-y: scroll;
      overscroll-behavior: none; /* Prevent overscroll actions like pull-to-refresh */
      animation: togglesidebaranimationclose 0.3s ;
    }
    .filter-sidebar1 {
      position: fixed;
      top: 0;
      right: 0;
      background-color: white;
      width: 0%;
      padding: 0px;
      border: 1px none #ddd;
      border-radius: 0px;
      height: 100%;
      z-index: 101;
      overflow-y: scroll;
      overscroll-behavior: none; /* Prevent overscroll actions like pull-to-refresh */
      animation: togglesidebaranimationclose 0.3s ;
    }
    .filter-sidebar.show {
      display: block;
      width: 80%;
      animation: togglesidebaranimation 0.3s ;
    }
        .filter-sidebar1.show {
      display: block;
      width: 80%;
      animation: togglesidebaranimation 0.3s ;
    }
    .sidebarnav
    {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
      padding: 1px;
      text-align: center;
      display: flex;
      
    }
    .sidebarnavtitle
    {
      width: 100%;
    }
    .filter-close-button {
      width: 40px;  /* Set width to make it square */
      height: 40px; /* Set height to make it square */
      padding: 0;   /* Remove padding to maintain square shape */
      font-size: 1.5rem;
      border: none;
      border-radius: 50%; /* Make the button circular */
      color: gray;
      background: transparent; /* Remove the background */
      cursor: pointer;
    }
    .filter-close-button::before,
    .filter-close-button::after {
      content: '';
      position: absolute;
      width: 18px; /* Set the length of the lines */
      height: 2px; /* Set the thickness of the lines */
      background-color: gray; /* Color of the cross lines */
      transform-origin: center;
      margin-top: 6px;
      margin-left: 10px;
    }
    
    .filter-close-button::before {
      transform: translate(-50%, -50%) rotate(45deg); /* Rotate to form one diagonal */
    }
    
    .filter-close-button::after {
      transform: translate(-50%, -50%) rotate(-45deg); /* Rotate to form the other diagonal */
    }
    .filter-group
    {
      margin-left: 15px;
      width: 96.5%;
      
    }
  
    .titlehr
    {
     display: none;
    }
    .titleh2
    {
    display: none;
    }
    .titlenav
    {
      font-family: "futura medium";
      display: block;
      position: sticky; /* Makes the element stick to a position */
      top: 0; /* The offset from the top of the viewport */
      z-index: 100; /* Ensures it stays above other elements */
      background-color: white; /* Optional: Sets a background color to prevent transparency */
      padding: 15px; /* Optional: Adjust padding as needed */
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    }
    .titlenavbutton
    {
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #6b6b6b;
    }
    .no-products-message  {
      margin-left: 0%;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      color: #555;
      margin-top: 0px;
  
    }
    body.no-scroll1 {
      overflow: hidden;
    }
    .Productlistpanel.show
    {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      z-index: 100; /* Below the modal */
      pointer-events: all; /* Ensure the overlay intercepts all interactions */
    }
  }
 