.popup-backdrop {
position: fixed;
inset: 0;
background: rgba(0, 0, 0, 0.5);
z-index: 999;
}


/* Popup container */
.popup-container {
position: fixed;
inset: 0;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem;
z-index: 1000;
}


/* Popup content */
.popup-content {
position: relative;
background: #fff;
max-width:780px;
width: 100%;
border-radius: 8px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
overflow: hidden;
animation: popup-fade-in 0.3s ease-out;
z-index: 1000;

}


/* Close button */
.popup-close {
position: absolute;
top: 10px;
right: 10px;
width: 32px;
height: 32px;
border-radius: 50%;
background: rgba(0, 0, 0, 0.267);
border: none;
font-size: 18px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
color: rgba(255, 255, 255, 0.664);

box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Image + Text layout */
.popup-body {
display: flex;
flex-direction: column;

}


.popup-body img {
width: 100%;
height: auto;
object-fit: cover;

justify-self: center;
align-self: center;
}


.popup-text h3 {
font-size: 1.25rem;
font-weight: 600;
margin: 0 0 0.5rem;
font-family: 'Futura Heavy', sans-serif;
margin-left: 8px;
}


.popup-text p {
font-size: 0.9rem;
color: #555;
font-family: 'Futura Medium', sans-serif;
margin-left: 8px;
}


/* Buttons */
.popup-actions {
display: flex;
gap: 0.5rem;
margin-left: 8px;
margin-bottom: 12px;
}


.popup-btn-primary {
background: #0284c7;
color: #fff;
padding: 0.5rem 1rem;
    background-color: black;
    color: white;

    cursor: pointer;
    transition: background-color 0.3s ease;
border-radius: 6px;
border: none;
cursor: pointer;
text-decoration: none;
}


.popup-btn-secondary {
background: transparent;
border: 1px solid #ddd;
padding: 0.5rem 1rem;
border-radius: 6px;
cursor: pointer;
}


/* Animation */
@keyframes popup-fade-in {
from {
opacity: 0;
transform: scale(0.9);
}
to {
opacity: 1;
transform: scale(1);
}
}
@media screen and (max-width: 768px) {
.popup-body img {
max-width: 100%;
height: auto;
}
}